<!DOCTYPE html>
<html>
<head>
    {{> head }}
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

{{> header }}

<div class="app-body">
    {{> leftMenu }}

    <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">
                <a href="#">Admin</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
            <!-- Breadcrumb Menu-->
            <li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group">
                    <a class="btn" href="#">
                        <i class="icon-speech"></i>
                    </a>
                    <a class="btn" href="../">
                        <i class="icon-graph"></i>  Dashboard</a>
                    <a class="btn" href="#">
                        <i class="icon-settings"></i>  Settings</a>
                </div>
            </li>
        </ol>

        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-6">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <h1>Add/Edit User </h1>
                            <p class="text-muted">Create a user your account</p>
                            {{#if errors}}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Need to fix following error.</strong>
                                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>

                            {{/if}}
                            <form action="{{SITE_URL}}/adduser" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="icon-user"></i>
                                                            </span>
                                                </div>
                                                <input class="form-control" name="firstName" value="{{data.user.name.first}}" type="text"
                                                       placeholder="First Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="icon-user"></i>
                                                        </span>
                                                </div>
                                                <input class="form-control {{#if errors.lastName}} is-invalid {{/if}}" name="lastName" type="text" value="{{data.user.name.last}}"
                                                       placeholder="Last Name">
                                                {{#if errors.lastName}}
                                                    <div class="invalid-feedback">{{errors.lastName.msg}}.</div>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="icon-user"></i>
                                            </span>
                                        </div>
                                        <input class="form-control {{#if errors.username}} is-invalid {{/if}}" name="username" type="text" placeholder="Username" value="{{data.user.username}}">
                                        {{#if errors.username}}  <div class="invalid-feedback">{{errors.username.msg}}.</div>  {{/if}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">@</span>
                                        </div>
                                        <input class="form-control {{#if errors.email}} is-invalid {{/if}}" name="email" type="text" placeholder="Email" value="{{data.user.email}}" >
                                        {{#if errors.email}} <div class="invalid-feedback">{{errors.email.msg}}.</div>   {{/if}}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-lock"></i>
                                                </span>
                                        </div>
                                        <input class="form-control {{#if errors.password}} is-invalid {{/if}}" name="password" type="password"
                                               placeholder="Password">
                                        {{#if errors.password}} <div class="invalid-feedback">{{errors.password.msg}}.</div>   {{/if}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="icon-lock"></i>
                                            </span>
                                        </div>
                                        <input class="form-control {{#if errors.confirmPassword}} is-invalid {{/if}}" name="confirmPassword" type="password"
                                               placeholder="Repeat password">
                                        {{#if errors.confirmPassword}} <div class="invalid-feedback">{{errors.confirmPassword.msg}}.</div>   {{/if}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Roles</label>
                                    <div class="col-md-9 col-form-label">
                                        {{#each data.allRoles}}
                                            <div class="form-check checkbox">
                                                <input class=" form-check-input" name="rolesId" id="{{this._id}}" type="radio"
                                                       value="{{this._id}}">
                                                <label class="form-check-label" for="check1">{{this.rolesName}}</label>
                                            </div>
                                        {{/each}}

                                    </div>
                                    {{#if errors.rolesId}} <div class="alert alert-danger">{{errors.rolesId.msg}}.</div>   {{/if}}
                                </div>
                                <input class="btn btn-block btn-success" type="submit" value="Create Account">
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </main>

    {{> aside }}

</div>

{{> footer}}


</body>
</html>